<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{reservation.add.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{reservation.add.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/reservations}" th:text="#{reservation.add.back}" class="btn btn-secondary" />
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('reservation')}" />
            <form th:action="${T(sn.sir.booking.sir_booking_app.util.WebUtils).getRequest().requestURI}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='reservation', field='dateReservation', inputClass='js-datetimepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='reservation', field='startDate', inputClass='js-datetimepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='reservation', field='endDate', inputClass='js-datetimepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='reservation', field='status', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='reservation', field='amount')}" />
                <div th:replace="~{fragments/forms::inputRow(object='reservation', field='days', type='number')}" />
                <input type="submit" th:value="#{reservation.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
