<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{hotel.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{hotel.list.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/hotels/add}" th:text="#{hotel.list.createNew}" class="btn btn-primary ms-2" />
                </div>
            </div>
            <div th:if="${hotels.empty}" th:text="#{hotel.list.empty}" />
            <div th:if="${!hotels.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th th:text="#{hotel.id.label}" scope="col" />
                            <th th:text="#{hotel.name.label}" scope="col" />
                            <th th:text="#{hotel.description.label}" scope="col" />
                            <th th:text="#{hotel.address.label}" scope="col" />
                            <th th:text="#{hotel.phone.label}" scope="col" />
                            <th th:text="#{hotel.city.label}" scope="col" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="hotel : ${hotels}">
                            <td th:text="${hotel.id}" />
                            <td th:text="${hotel.name}" />
                            <td th:text="${hotel.description}" />
                            <td th:text="${hotel.address}" />
                            <td th:text="${hotel.phone}" />
                            <td th:text="${hotel.city}" />
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/hotels/edit/{id}(id=${hotel.id})}" th:text="#{hotel.list.edit}" class="btn btn-sm btn-info" />
                                    <form th:action="@{/hotels/delete/{id}(id=${hotel.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button th:text="#{hotel.list.delete}" type="submit" class="btn btn-sm btn-danger" />
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
